### Emacs ###
# -*- mode: gitignore; -*-

*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
/lisp/custom.el

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# ac
ac-comphist.dat

# cedet, ecb, semantic, etc.
ede-projects.el
custom.el.before_ecb_2.40
/semanticdb/
/.semanticdb/

saveplace
recentf
savehist
ido.last

/url/

# jabber
/jabber-history/

# xkcd
/xkcd/

# games
/games/

# projectile
projectile-bookmarks.eld

/tmp/

# nda info
/lisp/nda.el
