*~
*#

ac-comphist.dat
ede-projects.el
custom.el.before_ecb_2.40
tramp

/utils/pastebin/*

/saveplace
/recentf
/bookmarks
/savehist
/ido.last

/elpa/*

/eshell/history
/eshell/lastdir

!.gitignore

/url/cookies
/jabber-history

